h1 {
    cursor: pointer;
    padding-bottom: 5px;
    display: inline-block;
    position: relative;
}

h1::after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 2px;
    background-color: blue;
    bottom: 0;
    transition: all .5s;
}

h1:hover::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
}